body { 
	font-family: geneva,tahoma,arial,sans-serif; font-size: 83%;
	background: #FFFFCC;
	text-align:center;
    vertical-align:top;
}
td { 
 	font-size: 78%; 
 	vertical-align:top;
}
th { 
	font-size: 78%; 
	text-align: left; 
    vertical-align:top;
}

a:link { color: #0000CC; } 
a:visited { color:#0000CC; }
a.on:visited { color: #0000CC; } 
.toplink:visited { color: #0000CC;  }
.demolabel a:link { color: #0000E0!important; font-weight:bold; }

a.m { display:block; }
a.r { color: #6666cc; text-decoration:none;}
 
#search th { 	padding: 1em 0 2px 0;  }
#newitem th {  padding: .8ex 1em 2px 0px; } 
#newitem td {  padding: 2px 1em 2px 0px; }
 
.demolabel { background: #ffffff; font-size: 124%; text-align:center; padding: .5em; -moz-border-radius:4px; border: 1px solid #EEEE66;}


input.txt, textarea { border: 1px inset #999999; -moz-border-radius: 3px; padding:2px;}
textarea { font-family: geneva, tahoma, arial, sans-serif; font-size: 105%; }
label { cursor: pointer; }
ul.inputlist {
	padding-left:0;
	list-style-type:none;
}
.inputlist li { padding-right: 1em; }

#content {  text-align:left; margin: 0 15% 0 15%;}
#leftnav {
	width: 30%; 
	float:left; 
}
#search { 
	border:1px solid #EEEE66; 
	-moz-border-radius:12px;
	background: #FFFFe0;
	padding:.5em;
}
#rpp { float:right; }
.next { font-weight: bold; font-size: 124%; }
.main { 
	margin-left: 33%; 
	border: 1px solid #EEEE66; 
	-moz-border-radius:8px;
	background: #FFFFe0;
	padding: 1em;
}

#footer { margin-top: 2em;  } 
#footer p { margin:0; }

h2 { margin:0; }
h3 { margin:0; }
h4 { margin:0; font-size: 100%; font-weight: normal;}
h5 { margin:0; font-weight: normal; display:inline; font-size: 100%;}

.toplink {
    float:right;
    font-weight:bold;
    margin-left:1.6em;
    padding-top:1.6em;
    font-size: 124%;
}

#poweredby {
    font-size: 82%;
    margin-left:3%;
}
#poweredby img { height: 27px; width: 75px; }

.instructions { font-size: 78%; color: #000000;}
.instructions i { font-style: normal; color:#008000; }

.errormessage { font-weight: bold; color: #CC1100; margin-bottom: 0.5em; } 
.errordiv { padding-top: 35px; }