body {padding: 15px;
margin: 0px;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
background-color: #FFFFFF;}

h1 {margin: 0px;
font-size: 12px;
padding: 4px;
font-weight: bold;
border: 1px solid #A4C0E2;
background-color: #E6ECF6;}

h2 {font-size: 14px;
color: #295689;}

/* titles */
.t {font-weight: bold; font-size: 150%;}

td,th,p,div {font: 12px Verdana, Arial, Helvetica, sans-serif;}

#header {position: absolute;
top: 4px;
left: 4px;}

/* For Mozilla */
body>#header {padding-right: 4px;}

.codediv {
background-color: #FFFFCC;
border: 1px #FF9933 solid;
padding-top: 4px;
padding-left: 10px;
padding-bottom: 4px;
padding-right: 4px;
margin-left: 2px;
margin-right: 2px;
overflow: auto;
}

.warningdiv {
background-color: #CCCCCC;
border: 1px #333333 solid;
padding-top: 4px;
padding-left: 10px;
padding-bottom: 4px;
padding-right: 4px;
margin-left: 2px;
margin-right: 2px;
overflow: auto;
}

.bordereddiv {background-color: #F4F7FB;
border: 1px #A4C0E2 solid;
padding: 4px;}

.borderedwarningdiv {background-color: #FFFFCC;
border: 1px #FFCC33 solid;
width: 500px;
padding: 10px;}

.borderedheading {background-color: #F4F7FB;
color: #000000; 
border: 1px #A4C0E2 solid;
padding: 4px;
}

.content {border: 1px solid #A4C0E2;
background-color: #FFFFFF;
padding: 10px;
margin: 71px 50px 0px 160px;
 }

#navalpha {z-index: 2;
left: 25px;
width: 157px;
position: absolute;
top: 80px;
border: 1px solid #A4C0E2;
background-color: #F1F1F1;
padding: 3px;
margin-bottom: 10px; }

.sidemenu a {font: 10px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight: bold;
color: #234A76;
width: 153px;
padding: 2px;
display: block;}

.sidemenu a:hover {color: #FFFFFF;
text-decoration: none;}

.sideheader {font: 10px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight: bold;
color: #FFFFFF;
width: 153px;
padding: 2px;
display: block;
background-color: #5A89C0;
border-bottom: 1px solid #5A89C0;}


.sidebuttons1 a {border-bottom: 1px solid #A4C0E2;}

.sidebuttons1 a:hover {background-color: #A4C0E2;
color: #FFFFFF;}

a.activebutton {border-bottom: 1px solid #A4C0E2; background-color: #A4C0E2;
color: #234A76;}


a {color: #407AB6;
text-decoration: underline;
font-weight: bold;}

a:hover {color: #86AEDA;
text-decoration: underline;}


.button {font-family: Verdana, Arial, Helvetica;
font-size: 11px;
font-weight: bold;
color: #FFFFFF;
background-color: #5A89C0;
cursor: hand;
border-top: 1px solid #D9EBF1;
border-left: 1px solid #D9EBF1;
background-image: url(images/sideheaderfade.gif);}

.smaller {font: 11px/17px Verdana, Arial, Helvetica, sans-serif;}

.evensmaller {font: 9px Verdana, Arial, Helvetica, sans-serif;}

.evensmaller a {font-weight: normal;}


.breadcrumbs {background-color: #F4F7FB;
border: 1px #A4C0E2 solid;
padding: 2px;
text-align: left;
font: 11px/17px Verdana, Arial, Helvetica, sans-serif;}

