<?xml version="1.0" encoding="UTF-8"?>
<web-app id="EventPublisher" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
	<display-name>EventPublisher</display-name>
	<servlet>
		<description></description>
		<display-name>EventPublisherServlet</display-name>
		<servlet-name>EventPublisherServlet</servlet-name>
		<servlet-class>
		    mashups.eventpub.EventPublisherServlet
        </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventPublisherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
</web-app>
