/*This style sheet is only for Internet Explorer version 6.0 and lower only*/
	
table.bt{
	width:75%; /*ensures tables fit in browser window*/
}

pre.codesample {
	font-family:monospace;font-size:100%;
}

#sidenav{
  margin:80px 0 0 13px;
}

@media print{

  table.bt{
    width:100%; /* ensure that they fill the whole width of printed page */
  }
	
}
