/*This style sheet is only for Internet Explorer version 7.0 only*/
	
table.bt{
	width:75%; /*ensures tables fit in browser window*/
}

pre.codesample {
	font-family:monospace;font-size:100%;
}

#sidenav {
	position:absolute;
}

@media print{

  table.bt{
    width:100%; /* ensure that they fill the whole width of printed page */
  }
	
}
